@model PluginCommentViewModel
@{
    Layout = "~/Views/Shared/Layouts/_Plugin.cshtml";
    ViewBag.Title = "Manager user comments";
}

<div class="row">
    <div class="span2">
        @Html.Partial("_ListPages", Model)  
    </div>
    <div class="span10">
        @Html.Partial("_ListComment", Model.ListComment)
    </div>
</div>

